.rightsideheader ul {
 display: flex;
}
.rightsideheader {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}
.rightsideheader ul li {
  list-style: none;
}
.mainlogo img {
  width: 240px;
}
.topheader .productSpec {
  padding-right: 0;
  padding-left: 0;
  background-color: red;
  padding-top: 62px;
}
.topheader::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
}
.mainmenu ul {
  display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}
.mainheader {
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: 999;
}
.topheader .productSpecs {
  max-width: 100%;
}
.mainmenu ul li {
  margin-left: 30px;
}
.mainheader .productSpec {
  max-width: 1360px;
  border: 1px solid #000;
  padding: 20px 25px 20px 25px;
  background-color: #fff;
} 
.mainmenu ul li a {
  font-size: 17px;
  font-weight: 700;
}
.mainmenu ul li a:hover {
  color: red !important;
  transition: all 0.4s ease;
}
.mydiv1 {
  background-image: url(../../public/epic_global/en.jpg);
  padding: 300px 0 300px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mydiv1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #514F4F;
  opacity: 0.6;
}
.mainbanner h1 {
  text-align: center;
  color: #fff;
  font-size: 104px;
  font-weight: 400;
}
.mainbanner h1 strong {
  color: red;
}