.cover-page {
  width: 100%;
  line-height: 1.4;
  .top-section {
    background: url(/future.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .top-parent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 90vh;
      align-items: center;
    }
    .top-left {
      color: white;
      border: 1px solid red;
      border-radius: 0 105px 0 0;
      padding: 50px;
      height: max-content;
      box-shadow: 5px 7px 20px red;
      h1 {
        padding-bottom: 5px;
      }
    }
  }

  .business-parent {
    display: grid;
    gap: 20px;
    .first-section {
      margin: 20px 0;
      h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 38px;
      }
      p {
        font-size: 24px;
      }
    }
    .second-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      h3 {
        padding-bottom: 10px;
      }
    }
    .business-image {
      margin: 20px 0;
      h2 {
        text-align: center;
        padding-bottom: 20px;
        font-size: 38px;
      }
      img {
        width: 100%;
        height: auto;
        margin: 20px 0;
      }
      p {
        margin: 20px 0 0 0;
        font-size: 24px;
      }
    }

    .process-list {
      line-height: 2;
      h1,
      p {
        text-align: center;
      }
      .list-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
      }
      .single-list {
        padding: 20px 0;
        line-height: 1.5;
      }
    }
    .Faq-section {
      line-height: 1.5;
      margin: 0 0 30px 0;
      padding: 20px 0;
      h2 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 1025px) {
  .cover-page {
    .top-section {
      .top-parent {
        padding: 0 50px;
        .top-left {
          padding: 30px;
        }
      }
    }
    .business-parent {
      padding: 0 50px;
      .Faq-section {
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .cover-page {
    .top-section {
      padding: 30px 0;

      .top-parent {
        height: auto;
        grid-template-columns: 1fr;
        width: 70%;
        .top-left {
          padding: 15px;
          h1 {
            font-size: 28px;
          }
        }
      }
    }
    .business-parent {
      .Faq-section {
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 426px) {
  .cover-page {
    .top-section {
      .top-parent {
        width: 100%;
        padding: 0 20px;
        .top-left {
          h1 {
            font-size: 20px !important;
          }
          p {
            padding: 5px 10px 5px 0;
          }
        }
      }
    }
    .business-parent {
      padding: 0 20px;
      .first-section {
        h2 {
          font-size: 28px;
        }
      }
      .second-section {
        grid-template-columns: 1fr;
      }
      .business-image {
        h2 {
          padding-bottom: 0;
          font-size: 28px;
        }
      }
      .process-list {
        line-height: 1.5;
        h1 {
          font-size: 20px;
        }
        .list-item {
          gap: 10px;
        }
        .single-list {
          h2 {
            font-size: 20px;
          }
          ul {
            padding: 10px 0;
          }
        }
      }
      .Faq-section {
        line-height: 1.5;
        margin-bottom: 20px;
        h4 {
          padding: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .business-parent {
    padding: 0 10px !important;
    .first-section {
      margin-bottom: 0 !important;
      h2 {
        padding-bottom: 0 !important;
      }
    }
    .second-section {
      gap: 10px !important;
      h3 {
        padding: 0 !important;
      }
    }
    .business-image {
      margin: 0 !important;
      img {
        margin-bottom: 0 !important;
      }
    }
    .process-list {
      .list-item {
        padding: 10px 0 0 0 !important;
      }
      .single-list {
        padding-bottom: 0 !important;
      }
    }
    .Faq-section {
      line-height: 1.2 !important;
    }
  }
}
@media only screen and (max-width: 321px) {
  .cover-page {
    .business-parent {
      .first-section {
        h2 {
          font-size: 20px;
          padding-bottom: 10px !important;
        }
        p {
          font-size: 18px;
        }
      }
      .second-section {
        h3 {
          font-size: 17px;
        }
      }
      .business-image {
        img {
          margin-bottom: 0;
        }
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .top-section {
      .top-parent {
        .top-left {
          h1 {
            font-size: 18px !important;
            margin-top: 10px;
          }
        }
      }
    }
    .business-parent .process-list .list-item {
      grid-template-columns: 1fr;
      padding: 0;
    }
    .Faq-section {
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}
