.design-ui {
  .design-banner {
    background: url(/design-logo.jpg);
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    .inside-banner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      height: 80vh;
      .left-part {
        color: white;
        line-height: 1.5;
        border: 1px solid white;
        padding: 20px;
        h1 {
          font-size: 32px;
        }
      }
    }
  }
  .below-bannner {
    line-height: 1.4;
    .needs-section {
      padding: 30px 0;
      display: grid;
      align-content: center;
      gap: 20px;
      h2 {
        text-align: center;
        font-size: 32px;
        font-family: emoji;
      }
      p {
        font-family: emoji;
        font-size: 24px;
      }
    }
    .epic-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
      padding: 30px 0;
      .epic-card1,
      .epic-card2 {
        padding: 20px;
        border-radius: 10px;
        transition: 300ms;
        overflow: hidden;
        &:hover {
          box-shadow: 0px 5px 5px 5px #e5e5e5;
          transition: 300ms;
        }
        h4 {
          padding: 10px 0;
        }

        img {
          width: 100%;
          height: auto;
          padding-bottom: 10px;
          transform: scale(1);
          transition: 700ms;
          &:hover {
            transform: scale(1.02);
            transition: 700ms;
          }
        }
      }
    }
    .client-section {
      display: grid;
      align-content: center;
      gap: 20px;
      margin: 30px 0;
      img {
        width: 100%;
        height: auto;
        margin: 20px 0;
      }
      h2 {
        text-align: center;
        font-size: 32px;
        font-family: emoji;
      }
      p {
        font-size: 24px;
      }
    }
    .Faq-section {
      margin: 30px 0;
      padding: 20px 0;
      h2 {
        text-align: center;
      }
      p {
        padding-bottom: 10px;
      }
    }
  }
}
@media only screen and (max-width: 1251px) {
  .design-ui {
    .design-banner {
      .inside-banner {
        padding: 0 50px;
      }
    }
    .below-bannner {
      padding: 0 50px;
      .epic-cards {
        gap: 50px;
      }

      .needs-section {
        padding-bottom: 0;
      }
      .client-section {
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 1025px) {
  .design-ui {
    .design-banner .inside-banner .left-part h1 {
      font-size: 24px;
    }
    .below-bannner {
      .Faq-section {
        margin-bottom: -75px;
        margin-top: 0;
        h2 {
          padding-bottom: 10px;
        }
      }
    }
    .inside-banner {
      .left-part {
        h1 {
          font-size: 32px !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .design-ui {
    .design-banner .inside-banner {
      grid-template-columns: 2fr 1fr;
      .left-part {
        h1 {
        }
      }
    }
    .below-bannner {
      .epic-cards {
        gap: 20px;
      }
    }
  }
}
@media only screen and (max-width: 426px) {
  .design-ui {
    .design-banner {
      height: 450px;
      .inside-banner {
        grid-template-columns: 1fr;
        align-items: start;
        padding: 0 30px;
        .left-part {
          margin-top: 20px;
          h1 {
            font-size: 20px;
          }
        }
      }
    }
    .below-bannner {
      padding: 0 30px;
      h2 {
        font-size: 24px !important;
      }
      .needs-section {
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 20px;
          line-height: 1.4;
        }
      }
      .epic-cards {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 10px 0;
        .epic-card1,
        .epic-card2 {
          padding: 10px;
        }
      }
      .client-section {
        h2 {
          font-size: 20px;
        }
      }
      .Faq-section {
        margin-bottom: 0;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .design-ui {
    .design-banner {
      height: 350px;
      .inside-banner {
        padding: 0 20px;
        height: 400px;
        .left-part {
          line-height: 1.5;
          h1 {
            font-size: 22px !important;
          }
        }
      }
    }
    .below-bannner {
      padding: 0 10px;
      .needs-section {
        padding: 10px 0;
        gap: 10px;
      }
      .client-section {
        gap: 0;
        p {
          font-size: 22px;
        }
      }
      .Faq-section {
        line-height: 1.2;
      }
    }
  }
}
@media only screen and (max-width: 321px) {
  .design-ui {
    .design-banner {
      .inside-banner {
        .left-part {
          margin: 10px 0;
          padding: 10px;
        }
      }
    }
  }
}
