$mobile: 576px;
@import "./variable.scss";
// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #212121;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.bg-black {
  background-color: #000;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.container {
  max-width: 1140px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1140px;
}
.row.tab-inner-sofa-row ul.react-tabs__tab-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.row.tab-inner-sofa-row ul.react-tabs__tab-list li {
  background: #ffffff !important;
  margin: 5px 12px !important ;
  padding: 10px 10px !important;
  border-radius: 5px !important;
  width: calc(100% / 4 - 0px) !important;
  cursor: pointer !important;
  border: 1.75px solid #e0e0e0 !important;
  text-align: center !important;
}
ul.align-items-left li {
  margin-bottom: 15px;
  color: #333;
  font-size: 15px;
  line-height: 14px;
  font-weight: 500;
}
.single-wedge {
  color: #777777;
}
ul.align-items-center li {
  margin-bottom: 15px;
  color: #333;
  font-size: 15px;
  line-height: 14px;
  font-weight: 500;
}
p.copy-text {
  text-align: center;
}
ol,
ul {
  padding-left: 0px !important;
}
.footer-links {
  font-size: 15px !important;
}

// ankit
.col-2 {
  width: 19.666667% !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px !important;
  line-height: 1;
  color: #2a2a2a !important;
}

.dimensionsbox {
  border: 5px solid #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.dimensionsboxtable table {
  width: 100%;
  border: 1px solid #c1c1c1ba;
}

.dimensionsboxtable table tbody td,
.dimensionsboxtable table tbody th {
  padding: 10px 10px;
  text-align: center;
  border-top: 1px solid #c1c1c1ba;
}

.dimensionsboxtable table tbody td,
.dimensionsboxtable table tbody th {
  border-bottom: 1px solid #c1c1c1ba;
}

img.NewProductPage_bannerimage___OEjc {
  width: 100% !important;
  height: auto !important;
}

.NewProductPage_banner__IFaBP {
  width: 100%;
}

.NewProductPage_banner__IFaBP span {
  width: 100% !important;
  height: auto !important;
}

.faqsection ul {
  border-top: 1px solid #d1cbcb;
  padding-bottom: 0px !important;
  padding-top: 20px !important;
}

.faqsection ul li.heading {
  position: relative;
}

.faqsection ul li.heading .icon {
  position: absolute;
  right: 0;
}

.faqsection ul li.heading h4 {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0px;
  cursor: pointer;
}

.faqsection {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.faqsection h2 {
  text-align: center;
  margin-bottom: 30px;
}
.home_box1__uE2FV img {
  object-fit: cover;
  object-fit: cover;
  object-position: -63px;
}

@media (max-width: $mobile) {
  .faqsection ul li.heading h4 {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
    cursor: pointer;
    padding-right: 40px;
  }
  .faqsection {
    border-top: 1px solid #eee;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
  }
  .faqsection ul {
    border-top: 1px solid #d1cbcb;
    padding-bottom: 0px !important;
    padding-top: 16px !important;

    margin-bottom: 0px;
  }
  .home_productsimages__NjvEz .row {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding: 0 5px;
  }

  .home_productsimages__NjvEz .row .home_box1__YhbL3 {
    width: 100%;
  }

  .home_productsimages__NjvEz .row .col-3 {
    padding: 0 !important;
    width: 100%;
    flex: 1;
  }

  .home_productsimages__NjvEz
    .row
    .home_box1__YhbL3
    img.home_productimh__XySYt {
    height: 150px;
    object-fit: cover !important;
    object-position: -35px;
  }
}
