@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p{
  font-family: 'Roboto', sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* //paef
 */
 img {
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  
}
.row3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-md-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.containerr3 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.containerr {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}


@media (max-width:1250px) {
  .col-md-6 {
    flex: 100% !important;
      max-width: 100% !important;
   }
}


.splide__arrows.splide__arrows--ltr {
  max-width: 609px !important;
  position: relative;
  margin: 0 auto;
  top: 117%;
  opacity: -1;
  z-index: 9999;
}

.splide__arrows.splide__arrows--ltr button.splide__arrow {
  WIDTH: 4REM;
  height: 4rem;
  top: -1rem;
 
}
.splide__slide p {
  position: absolute;
  bottom: -20px!important;
}

.splide__slide h2 {
  display: none;
  position: absolute;
}

.splide__slide p {
  display: none;
  position: absolute;
}


.splide__slide.is-active p {
  display: block !important;
}

.splide__slide.is-active h2 {
  display: block !important;
}
li#splide01-slide04 {
  margin-right: 1rem;
  width: calc(((68% + 1rem) / 3) - 1rem) !important;
}

li#splide01-slide05 {
  margin-right: 1rem;
  width: calc(((91% + 1rem) / 3) - 1rem) !important;
}
li#splide01-slide02 {
  margin-right: 1rem;
  width: calc(((91% + 1rem) / 3) - 1rem) !important;
}
