@media only screen and (min-width: 1250px) {
  .Header-parent {
    padding: 10px 40px;
    position: sticky;
    z-index: 1;

    background: #fff9;
    // position: absolute;
    // width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .header {
    display: flex;
    justify-content: space-between;
    .header-left {
      ul {
        li {
          img {
            padding-top: 5px;
            width: 55%;
            height: auto;
          }
        }
      }
    }
    .header-right {
      color: black;
      padding: 10px 0;
      ul {
        display: flex;
        gap: 20px;

        .a {
          li {
            transform: scale(1);
            transition: 800ms;
          }
          li:hover {
            transform: scale(1.1);
            transition: 1000ms;
          }
        }
        .a:hover {
          color: red;
        }
      }
    }
  }

  .nav-bar {
    color: black;
    svg {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 40px;
      li {
        list-style: none;
        Link {
          padding-bottom: 5px;
        }

        .a:hover {
          border-bottom: 3px solid red;
        }
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .Header-parent {
    padding: 10px 40px;
    position: sticky;
    z-index: 11;
    background: #fff9;
    // position: absolute;
    // width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    .header-left > ul > li > img {
      width: 55%;
      height: auto;
      margin-top: 5px;
    }
    .header-right {
      z-index: 10;
      // ul {
      //   a {
      //     height: 5px;
      //     .nav-bar {
      //       width: 40px;
      //       height: 3px;
      //       margin-bottom: 5px;
      //       background-color: black;
      //     }
      //   }
      // }
      .mobile-view {
        padding-bottom: 10px;
        .a {
          li {
            padding: 5px 0 0 60px;
          }
        }
      }
      .nav-bar {
        padding: 5px 5px 2px 5px;
        border-radius: 3px;
      }
      ul {
        .nav-anchor {
          li {
            width: 40px;
            height: 3px;
            margin-bottom: 5px;
            background-color: black;
          }
        }
      }
    }
  }

  // MOBILE NAVIGATION

  .mobile-view.hide,
  .mobile-view.show {
    position: absolute;
    background: #ffffffc2;
    width: 100%;
    left: 0;
    top: 83px;
    transform: scaleY(0);

    backdrop-filter: blur(32px);
    transform-origin: top;
    transition: all 100ms ease-in;
  }

  .mobile-view.show {
    transform: scaleY(1);
  }
}
@media only screen and (max-width: 1025px) {
  .Header-parent {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-view.show {
    top: 88px;
  }
}

@media only screen and (max-width: 426px) {
  .mobile-view.hide,
  .mobile-view.show {
    top: 53px;
  }
  .Header-parent {
    padding: 0px 5px;
  }
  .header {
    .header-right {
      display: grid;
      align-items: center;
    }
  }
  .header-left {
    ul {
      li {
        .a {
          img {
            width: 150px;
            height: auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
