.banner {
  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
}
.Discover-section {
  text-align: center;
  padding: 30px 0;

  h1,
  span {
    color: black;
  }
  h1 {
    font-size: 50px;
    line-height: 2;
  }

  .sections-devide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 50px 0 30px;
    gap: 30px;
    color: #333;
    text-align: left;
    > div {
      img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: 500ms;

        &:hover {
          transform: scale(1.03);
          transition: 500ms;
        }
      }
    }

    .first-section,
    .second-section,
    .third-section {
      padding: 15px;
      transition: 1000ms;
      p {
        margin-top: 10px;
      }
    }
    .first-section:hover,
    .second-section:hover,
    .third-section:hover {
      border-radius: 5px;
      box-shadow: 0px 5px 5px 5px #e5e5e5;
      transition: 1000ms;
      color: #333;

      h2:hover {
        color: red;
        cursor: pointer;
        border-bottom: 3px solid red;
        width: fit-content;
        transition: 1000ms;
      }
    }
  }
}

// mission section start

.join-mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 40px 0;
  line-height: 1.7;
  gap: 50px;
  .mission-text {
    box-shadow: 5px 5px 5px 5px #e5e5e5;
    padding: 10px 20px;
    strong {
      color: rgb(155 155 155);
      font-size: 29px;
    }
    h2 {
      font-size: 40px;
      color: rgb(58 58 58);
      font-weight: 400;
    }
  }
  .mission-image {
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 571px;
      height: auto;
      // transform: scale(1);
      transition: 1000ms;
    }
    img:hover {
      transform: scale(1.1);
      transition: 1000ms;
    }
  }
}

//mission section start
