.marketing-parent {
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    -o-object-position: -20px;
  }
  .complete-section {
    padding: 30px 0;
    line-height: 1.4;
    h1 {
      text-align: center;
      padding: 5px 0;
    }

    img {
      width: 100%;
      height: auto;
      margin: 70px 0;
    }
    h2 {
      text-align: center;
      font-size: 34px;
    }
    p {
      font-size: 24px;
      font-family: emoji;
    }
    .marketing-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin: 30px 0;
      p {
        font-size: 18px;
      }
    }
    .bottom-text {
      margin: 30px 0;
      font-size: 24px;
    }
  }
  .Faq-section {
    margin: 30px 0;
    padding: 20px 0;

    h2 {
      text-align: center;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 1251px) {
  .marketing-parent {
    .complete-section {
      padding: 20px 50px;
      img {
        margin: 25px 0;
      }
      .Faq-section {
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 1025px) {
  .marketing-parent {
    .complete-section {
      padding-bottom: 0px;
      .marketing-cards {
        padding-bottom: 0;
      }
      .Faq-section {
        margin-bottom: -50px;
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .marketing-parent {
    .complete-section {
      padding-top: 0;

      .marketing-section {
        .marketing-text {
          margin-top: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 426px) {
  .marketing-parent {
    .complete-section {
      h1,
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 22px;
      }
      .marketing-text {
        grid-template-columns: 1fr;
        gap: 15px;
      }
      padding: 20px 30px;
      .marketing-cards {
        grid-template-columns: 1fr;
      }
      .bottom-text {
        margin: 0;
        margin-bottom: 10px;
      }
      .Faq-section {
        margin-bottom: 0;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .marketing-parent {
    .complete-section {
      line-height: 1.2;
      padding: 5px 10px 20px 10px;
      h1,
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 18px !important;
        padding-bottom: 5px;
      }
      .marketing-text {
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
@media only screen and (max-width: 321px) {
  .complete-section {
    .top-section {
      p {
        font-size: 20px;
      }
    }
    .marketing-section {
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
    }
    .Faq-section {
      line-height: 1.2 !important;

      h2 {
        font-size: 24px;
        padding-top: 10px;
      }
      h4 {
        padding-bottom: 5px;
      }
    }
  }
}
