.project-parent {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  .project-management {
    line-height: 1.4;
    .first-block {
      padding: 30px;
      position: relative;
      top: -150px;
      background-color: white;
      margin: 0 10%;
      border: 1px solid #e5e5e5;
      border-radius: 4px;

      h1 {
        text-align: center;
      }
    }
    .second-block {
      position: relative;
      top: -70px;
      font-size: 24px;
      font-family: emoji;
      h2 {
        position: relative;
        top: -10px;
      }
    }
    .paragraph-partition {
      margin: 20px 0;
      padding: 20px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      h2 {
        font-weight: 500;
        padding: 5px 0;
      }
    }
    .bottom-paragraph {
      border: 1px solid #e5e5e5;
      padding: 20px;
      margin: 40px 0;
      transition: 300ms;
      &:hover {
        box-shadow: 0px 5px 5px 5px #e5e5e5;
        transition: 300ms;
      }
      h2 {
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        padding-bottom: 8px;
        font-family: emoji;
      }
      p {
        font-size: 24px;
        font-family: emoji;
        line-height: 1.5;
      }
    }
    .Faq-section {
      margin: 30px 0;
      padding: 20px 0;
      line-height: 1.5;
      h2 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 1251px) {
  .project-management {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1025px) {
  .project-management {
    .Faq-section {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}
@media only screen and (max-width: 769px) {
  .project-management {
    position: relative;
    top: -40px;
    .first-block {
      margin: 0 5% !important;
    }
    .second-block {
      margin-top: -20px;
    }
    .management-image {
      margin: -25px 0;
    }
    .paragraph-partition {
      h2 {
        font-size: 24px;
      }
    }
    .Faq-section {
      margin-bottom: -80px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .project-management {
    .first-block {
      margin: 0 !important;
      h1 {
        font-size: 28px;
      }
    }
    .second-block {
      h2 {
        font-size: 28px;
      }
    }
    .paragraph-partition {
      grid-template-columns: 1fr !important;
      gap: 20px !important;
    }
    .bottom-paragraph {
      margin: 0 !important;
      h2 {
        font-size: 28px;
      }
    }
    .Faq-section {
      margin: 0 !important;
      h2 {
        padding: 10px;
      }
    }
    .management-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
@media only screen and (max-width: 426px) {
  .project-parent {
    img {
      width: 100%;
      height: auto;
    }
    .project-management {
      padding: 0 20px;
      h2 {
        font-size: 20px !important;
      }
      h4 {
        font-size: 16px !important;
      }
      .first-block {
        padding: 15px;

        h1 {
          font-size: 20px;
        }
      }
      .second-block {
        margin-top: -45px;
      }
      .management-image {
        margin: -40px 0;
      }
      .paragraph-partition {
        gap: 5px !important;
      }
      .bottom-paragraph {
        margin: -20px 0 !important;
        p {
          font-size: 20px;
        }
      }
      .Faq-section {
        margin-top: 10px !important;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .project-management {
    padding: 0 10px !important;
    .Faq-section {
      line-height: 1.2 !important;
    }
  }
}
@media only screen and (max-width: 321px) {
  .project-management {
    .first-block,
    .second-block,
    .paragraph-partition,
    .bottom-paragraph {
      line-height: 1.2;
    }
    .first-block {
      h1 {
        padding-bottom: 5px;
      }
    }
    .bottom-paragraph {
      padding: 10px;
      p {
        line-height: 1.2;
      }
    }
  }
}
